@page "/BatchedCanvas"
@using Blazor.CanvasDemo.Shared.BatchedCanvas
@using Blazor.CanvasDemo.Shared.ComplexCanvas

<h1>Enterprise Canvas Use Case</h1>

<p>
    With this page we can explore an enterprise use case of canvas - drawing specific controls, frames and objects.
</p>

<Timeline StartDate="@StartDate" EndDate="@EndDate" TodaysDate="@TodaysDate" />
<BatchedOrders StartDate="@StartDate" EndDate="@EndDate" TodaysDate="@TodaysDate" />